

<mat-drawer-container class="container" autosize>
    <mat-drawer position="end" mode="side" opened>
        <app-exhibition-inspector *ngIf="isSelectedExhibit" [exhibition]="selected"></app-exhibition-inspector>
    </mat-drawer>
    <div class="dashboard">
        <div class="room-widget" *ngFor="let room of exhibition.rooms">

            <h2 class="mat-h2">{{room.text}}</h2>

            <!-- General settings regarding the room -->
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Properties
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Walls ({{room.walls.length}})
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-list>
                    <mat-list-item *ngFor="let wall of room.walls">{{wall.direction}}</mat-list-item>
                </mat-list>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        3D Exhibits ({{room.exhibits.length}})
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </div>
    </div>
</mat-drawer-container>
