.container {
  width: 100%;
  height: 100%;
}

.content {
  padding: 10px;
}

.inspector {
  width: 20%;
  min-width: 300px;
  max-width: 350px;
  padding: 10px;
}

.dashboard {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.room-widget {
  width: 500px;
  margin: 10px;
  padding: 15px;
  border: darkgrey dotted 1px;
}

.exhibit-node {
  font-size: 12px;
  color: #444444;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.room-tree-invisible {
  display: none;
}

.room-tree ul,
.room-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}