<mat-drawer-container class="container" autosize>
    <mat-drawer class="inspector" position="end" mode="side" opened>
        <h1 class="mat-h1">Inspector: {{(selectedType|async)}}</h1>
        <app-exhibition-inspector *ngIf="(isSelectedExhibition|async)" [exhibition]="(inspected|async)"></app-exhibition-inspector>
        <app-room-inspector *ngIf="(isSelectedRoom|async)" [room]="(inspected|async)"></app-room-inspector>
        <app-wall-inspector *ngIf="(isSelectedWall|async)" [wall]="(inspected|async)"></app-wall-inspector>
        <app-exhibit-inspector *ngIf="(isSelectedExhibit|async)" [exhibit]="(inspected|async)"></app-exhibit-inspector>
    </mat-drawer>
    <div class="content" *ngIf="!!(exhibition|async)" (click)="exhibitionClicked($event)">
        <h1 class="mat-h1">Exhibition dashboard: {{(exhibition|async).name}} (ID={{(exhibition|async).shortId}})</h1>

        <div>
            <button mat-stroked-button color="primary" (click)="addNewRoom()">
                <mat-icon>add</mat-icon>
                Add new room
            </button>
        </div>


        <div class="dashboard">
            <div *ngFor="let room of (exhibition|async).rooms" (click)="roomClicked($event, room)" [className]="(inspected|async)==room ? 'room-widget selected' : 'room-widget'">

                <div [style.display]="'flex'" [style.justify-content]="'space-between'">
                    <h2 class="mat-h2">{{room.text}}</h2>
                    <button mat-mini-fab color="warn" matTooltip="Delete room '{{room.text}}' from exhibition." (click)="removeRoom(room)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

                <mat-tree [dataSource]="[room]" [treeControl]="treeControl" class="room-tree">

                    <mat-nested-tree-node *matTreeNodeDef="let node; when: isRoom">
                        <ng-container matTreeNodeOutlet></ng-container>
                    </mat-nested-tree-node>

                    <mat-nested-tree-node *matTreeNodeDef="let node; when: isWallFiller">
                        <li>
                            <div class="mat-tree-node">
                                <button mat-icon-button matTreeNodeToggle>
                                    <mat-icon class="mat-icon-rtl-mirror">
                                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                    </mat-icon>
                                </button>
                                Walls ({{node.length}})
                            </div>
                            <ul [class.room-tree-invisible]="!treeControl.isExpanded(node)">
                                <ng-container matTreeNodeOutlet></ng-container>
                            </ul>
                        </li>
                    </mat-nested-tree-node>

                    <mat-nested-tree-node *matTreeNodeDef="let node; when: isExhibitFiller">
                        <li>
                            <div class="mat-tree-node">
                                <button mat-icon-button matTreeNodeToggle>
                                    <mat-icon class="mat-icon-rtl-mirror">
                                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                    </mat-icon>
                                </button>
                                3D Exhibits ({{node.length}})
                            </div>
                            <ul [class.room-tree-invisible]="!treeControl.isExpanded(node)">
                                <ng-container matTreeNodeOutlet></ng-container>
                            </ul>
                        </li>
                    </mat-nested-tree-node>


                    <mat-nested-tree-node *matTreeNodeDef="let node; when: isWall">
                        <li>
                            <div [className]="(inspected|async)==node ? 'mat-tree-node selected' : 'mat-tree-node'" (click)="wallClicked($event, node)">
                                <button mat-icon-button matTreeNodeToggle>
                                    <mat-icon class="mat-icon-rtl-mirror">
                                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                    </mat-icon>
                                </button>
                                {{node.designation}} ({{node.numberOfExhibits}})
                            </div>
                            <ul [class.room-tree-invisible]="!treeControl.isExpanded(node)">
                                <ng-container matTreeNodeOutlet></ng-container>
                            </ul>
                        </li>
                    </mat-nested-tree-node>

                    <mat-tree-node *matTreeNodeDef="let node; when: isExhibit" >
                        <div [className]="(inspected|async)==node ? 'mat-tree-node selected' : 'mat-tree-node'" (click)="exhibitClicked($event, node)">
                            <p>Exhibit: {{node.name}}</p>
                            <button mat-icon-button (click)="removeExhibitClicked($event, node)" matTooltip="Remove exhibit from '{{node.location}}'."><mat-icon>delete</mat-icon></button>
                        </div>
                    </mat-tree-node>
                </mat-tree>
            </div>
        </div>
    </div>
</mat-drawer-container>