<!--The content below is only a placeholder and can be replaced.-->


<mat-toolbar id="navbar">
    <span>Virtual Exhibition Manager</span>
    <div>
        <button mat-button [matMenuTriggerFor]="exhibitionMenu">{{title}}</button>
        <mat-menu #exhibitionMenu="matMenu">
            <button (click)="handleClick(exhibition)" mat-menu-item *ngFor='let exhibition of (exhibitions | async)'>{{exhibition.name}}</button>
        </mat-menu>
    </div>

    <div style="height: 85%; width: auto;">
        <img src="../assets/uni-basel-logo.png" style="height: 100%; width: auto;"/>
    </div>
</mat-toolbar>


<router-outlet></router-outlet>
