<div class="full-width" [style.display]="'flex'" [style.justify-content]="'space-around'">
    <app-wall-canvas [wall]="wall"></app-wall-canvas>
</div>

<hr/>

<h4 class="mat-h4">General properties</h4>

<mat-form-field class="full-width">
    <input matInput disabled placeholder="Exhibition" [value]="wall._belongsTo._belongsTo.name"  matTooltip="Name of the exhibition this wall belongs to.">
</mat-form-field>

<mat-form-field class="full-width">
    <input matInput disabled placeholder="Name" [value]="wall.designation"  matTooltip="Designation of the wall (cannot be changed).">
</mat-form-field>

<mat-form-field class="full-width">
    <input matInput disabled placeholder="Exhibits" [value]="wall.numberOfExhibits" type="number" matTooltip="Number of exhibits on the wall.">
</mat-form-field>

<mat-form-field class="full-width">
    <mat-select placeholder="Texture" [(ngModel)]="wall.texture" matTooltip="The texture of the wall.">
        <mat-option *ngFor="let texture of textures" [value]="texture">
            {{texture}}
        </mat-option>
    </mat-select>
</mat-form-field>

<app-vector3f-input [vector]="wall.color" [name]="'Color'" [labels]="['Color (R)', 'Color (G)', 'Color (B)']"></app-vector3f-input>