@import '~@angular/material/theming';
@import 'roboto-font';
@import 'material-icons';

// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$vrem-app-primary: mat-palette($mat-indigo, 600);
$vrem-app-accent:  mat-palette($mat-green, 600);

// The warn palette is optional (defaults to red).
$vrem-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$vrem-app-theme:   mat-light-theme($vrem-app-primary, $vrem-app-accent, $vrem-app-warn);

$font-stack: 'Roboto', Arial, sans-serif;

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($vrem-app-theme);


/**
 * Make application use full height.
 */
html, body {
  height: 100%;
}

.selected {
  background-color: lightskyblue;
}